<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>WebProg</title>
  </head>
  <body>
    <header>
      <div class="flex-nav">
        <h2><a href="index.html">Главная</a></h2>
        <h2><a href="KeanuReeves.html">Киану Ривз</a></h2>
        <h2><a href="JasonStatham.html">Джейсон Стетхем</a></h2>
        <h2><a href="TomCruise.html">Том Круз</a></h2>
        <h2><a href="users.html">Посетители</a></h2>
      </div>
    </header>
    <h1 class="owner">
      Лабораторная работа №2. Выполнил 6402 Старыгин Виталий
    </h1>
    <h2 class="overview">
      На данном сайте представлена биография известных актеров, таких как Киану
      Ривз, Джейсон Стетхем и Том Круз. Воспользуйтесь навигационной панелью
      чтобы ознакомиться с их биографией.
    </h2>
    <h2 class="contact-message">Здравствуйте, как Вас зовут?</h2>
    <div class="user-form">
      <form id="contact-data">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <button type="submit">Отправить</button>
      </form>
    </div>
    <script src="../contactData.js"></script>
  </body>
</html>
