<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebProg</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <div class="flex-nav">
        <h2><a href="index.html">Главная</a></h2>
        <h2><a href="KeanuReeves.html">Киану Ривз</a></h2>
        <h2><a href="JasonStatham.html">Джейсон Стетхем</a></h2>
        <h2><a href="TomCruise.html">Том Круз</a></h2>
        <h2><a href="users.html">Посетители</a></h2>
      </div>
    </header>
    <main class="grid-main">
      <div class="grid-item">
        <h3>
          Джейсон Стетхем (26.07.1967) - звезда голливудских боевиков, которого
          нередко называют «новым Брюсом Уиллисом». Трамплином к славе для
          актера стало сотрудничество с режиссером Гаем Ричи, который сделал его
          главным героем многих своих фильмов («Карты, деньги, два ствола»,
          «Большой куш», «Револьвер»). Впоследствии Джейсон Стэтхэм стал также
          незыблемым символом блокбастеров «Адреналин» и «Перевозчик».
        </h3>
        <img
          src="../image/JasonStatham.jpg"
          alt="Джейсон Стетхем"
          class="actor-photo"
        />
      </div>
      <div class="grid-item">
        <h3>Известные фильмы Джейсона Стетхема</h3>
        <table class="JasonStatham-table">
          <tr>
            <th>Фильм</th>
            <th>Год выпуска</th>
          </tr>
          <tr>
            <td>Карты, деньги, два ствола</td>
            <td>1998</td>
          </tr>
          <tr>
            <td>Большой Куш</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>Перевозчик</td>
            <td>2002</td>
          </tr>
          <tr>
            <td>Адреналин</td>
            <td>2006</td>
          </tr>
          <tr>
            <td>Неудержимые</td>
            <td>2010</td>
          </tr>
          <tr>
            <td>Форсаж 7</td>
            <td>2015</td>
          </tr>
        </table>
      </div>
    </main>
  </body>
</html>
