<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>WebProg</title>
  </head>
  <body>
    <header>
      <div class="flex-nav">
        <h2><a href="index.html">Главная</a></h2>
        <h2><a href="KeanuReeves.html">Киану Ривз</a></h2>
        <h2><a href="JasonStatham.html">Джейсон Стетхем</a></h2>
        <h2><a href="TomCruise.html">Том Круз</a></h2>
        <h2><a href="users.html">Посетители</a></h2>
      </div>
    </header>
    <main>
      <h1>Список посетителей</h1>
      <table id="users-table">
        <thead>
          <tr>
            <th>Имя</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </main>
    <script src="../usersTable.js"></script>
  </body>
</html>
