<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebProg</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h2><a href="index.html">Главная</a></h2>
        <h2><a href="KeanuReeves.html">Киану Ривз</a></h2>
        <h2><a href="JasonStatham.html">Джейсон Стетхем</a></h2>
        <h2><a href="TomCruise.html">Том Круз</a></h2>
      </nav>
    </header>
    <main>
      <h3>
        Киану Ривз (02.09.1964) - один из самых неординарных актеров
        современного Голливуда. Безусловно, в первую очередь он запомнился
        зрителям как Нео из трилогии «Матрица». Но в его насыщенной фильмографии
        есть также множество других ролей: как в кассовых, так и в независимых
        проектах.
      </h3>
      <img
        src="../image/KeanuReeves.jpg"
        alt="Киану Ривз"
        class="actor-photo"
      />
      <h3>Известные фильмы Киану Ривза</h3>
      <table class="KeanuReeves-table">
        <tr>
          <th>Фильм</th>
          <th>Год выпуска</th>
        </tr>
        <tr>
          <td>Скорость</td>
          <td>1994</td>
        </tr>
        <tr>
          <td>Адвокат дьявола</td>
          <td>1997</td>
        </tr>
        <tr>
          <td>Матрица</td>
          <td>1999</td>
        </tr>
        <tr>
          <td>47 ронинов</td>
          <td>2013</td>
        </tr>
        <tr>
          <td>Джон Уик</td>
          <td>2014</td>
        </tr>
      </table>
    </main>
  </body>
</html>
