<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebProg</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h2><a href="index.html">Главная</a></h2>
        <h2><a href="KeanuReeves.html">Киану Ривз</a></h2>
        <h2><a href="JasonStatham.html">Джейсон Стетхем</a></h2>
        <h2><a href="TomCruise.html">Том Круз</a></h2>
      </nav>
    </header>
    <main>
      <h3>
        Том Круз (03.07.1962) - выдающийся американский киноактер, режиссер и
        продюсер, трижды обладатель премии «Золотой глобус» и трижды номинант на
        премию «Оскар».
      </h3>
      <img src="../image/TomKruz.jpg" alt="Том Круз" class="actor-photo" />
      <h3>Известные фильмы Тома Круза</h3>
      <table class="TomCruise-table">
        <tr>
          <th>Фильм</th>
          <th>Год выпуска</th>
        </tr>
        <tr>
          <td>Топ Ган</td>
          <td>1986</td>
        </tr>
        <tr>
          <td>Миссия невыполнима</td>
          <td>1996</td>
        </tr>
        <tr>
          <td>Джерри Магуайер</td>
          <td>1996</td>
        </tr>
        <tr>
          <td>Последний самурай</td>
          <td>2003</td>
        </tr>
        <tr>
          <td>Грань будущего</td>
          <td>2014</td>
        </tr>
      </table>
    </main>
  </body>
</html>
